--
-- PostgreSQL database dump
--

\restrict fz7hqVoH56v7Wp7WRssyY23N7sb1y0tXq6AD2cQtUXl5B6ucPe1NuriIteNMmde

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assessment_evidences; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.assessment_evidences (
    id bigint NOT NULL,
    assessment_id bigint NOT NULL,
    competency_id bigint NOT NULL,
    file_path character varying(255),
    url character varying(255),
    description text,
    uploaded_by bigint,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.assessment_evidences OWNER TO sail;

--
-- Name: assessment_evidences_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.assessment_evidences_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.assessment_evidences_id_seq OWNER TO sail;

--
-- Name: assessment_evidences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.assessment_evidences_id_seq OWNED BY public.assessment_evidences.id;


--
-- Name: assessment_rounds; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.assessment_rounds (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    year smallint NOT NULL,
    self_assess_start date,
    self_assess_end date,
    supervisor_assess_end date,
    is_active boolean DEFAULT false NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.assessment_rounds OWNER TO sail;

--
-- Name: assessment_rounds_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.assessment_rounds_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.assessment_rounds_id_seq OWNER TO sail;

--
-- Name: assessment_rounds_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.assessment_rounds_id_seq OWNED BY public.assessment_rounds.id;


--
-- Name: assessments; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.assessments (
    id bigint NOT NULL,
    assessment_round_id bigint NOT NULL,
    user_id bigint NOT NULL,
    status character varying(255) DEFAULT 'draft'::character varying NOT NULL,
    last_draft_saved_at timestamp(0) without time zone,
    self_submitted_at timestamp(0) without time zone,
    supervisor_1_submitted_at timestamp(0) without time zone,
    supervisor_2_submitted_at timestamp(0) without time zone,
    dean_approved_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.assessments OWNER TO sail;

--
-- Name: assessments_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.assessments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.assessments_id_seq OWNER TO sail;

--
-- Name: assessments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.assessments_id_seq OWNED BY public.assessments.id;


--
-- Name: cache; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.cache (
    key character varying(255) NOT NULL,
    value text NOT NULL,
    expiration bigint NOT NULL
);


ALTER TABLE public.cache OWNER TO sail;

--
-- Name: cache_locks; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.cache_locks (
    key character varying(255) NOT NULL,
    owner character varying(255) NOT NULL,
    expiration bigint NOT NULL
);


ALTER TABLE public.cache_locks OWNER TO sail;

--
-- Name: comp_level_indicators; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.comp_level_indicators (
    id bigint NOT NULL,
    competency_level_id bigint NOT NULL,
    description text NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.comp_level_indicators OWNER TO sail;

--
-- Name: comp_level_indicators_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.comp_level_indicators_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.comp_level_indicators_id_seq OWNER TO sail;

--
-- Name: comp_level_indicators_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.comp_level_indicators_id_seq OWNED BY public.comp_level_indicators.id;


--
-- Name: competencies; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.competencies (
    id bigint NOT NULL,
    competency_type_id bigint NOT NULL,
    code character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    detail text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.competencies OWNER TO sail;

--
-- Name: competencies_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.competencies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.competencies_id_seq OWNER TO sail;

--
-- Name: competencies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.competencies_id_seq OWNED BY public.competencies.id;


--
-- Name: competency_gaps; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.competency_gaps (
    id bigint NOT NULL,
    assessment_id bigint NOT NULL,
    competency_id bigint NOT NULL,
    supervisor_2_score_id bigint,
    expected_level smallint,
    actual_level smallint,
    gap integer,
    requires_idp boolean DEFAULT false NOT NULL,
    status character varying(255) DEFAULT 'draft'::character varying NOT NULL,
    rejected_by bigint,
    reject_comment text,
    decided_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.competency_gaps OWNER TO sail;

--
-- Name: competency_gaps_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.competency_gaps_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.competency_gaps_id_seq OWNER TO sail;

--
-- Name: competency_gaps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.competency_gaps_id_seq OWNED BY public.competency_gaps.id;


--
-- Name: competency_levels; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.competency_levels (
    id bigint NOT NULL,
    competency_id bigint NOT NULL,
    level smallint NOT NULL,
    description text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.competency_levels OWNER TO sail;

--
-- Name: competency_levels_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.competency_levels_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.competency_levels_id_seq OWNER TO sail;

--
-- Name: competency_levels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.competency_levels_id_seq OWNED BY public.competency_levels.id;


--
-- Name: competency_types; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.competency_types (
    id bigint NOT NULL,
    code character varying(20) NOT NULL,
    full_name character varying(255) NOT NULL,
    description text NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    is_active boolean DEFAULT true NOT NULL,
    sort_order smallint
);


ALTER TABLE public.competency_types OWNER TO sail;

--
-- Name: competency_types_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.competency_types_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.competency_types_id_seq OWNER TO sail;

--
-- Name: competency_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.competency_types_id_seq OWNED BY public.competency_types.id;


--
-- Name: failed_jobs; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.failed_jobs (
    id bigint NOT NULL,
    uuid character varying(255) NOT NULL,
    connection text NOT NULL,
    queue text NOT NULL,
    payload text NOT NULL,
    exception text NOT NULL,
    failed_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.failed_jobs OWNER TO sail;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.failed_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.failed_jobs_id_seq OWNER TO sail;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.failed_jobs_id_seq OWNED BY public.failed_jobs.id;


--
-- Name: hr_expectations; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.hr_expectations (
    id bigint NOT NULL,
    assessment_round_id bigint NOT NULL,
    position_id bigint NOT NULL,
    level_id bigint NOT NULL,
    competency_id bigint NOT NULL,
    expected_level smallint,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.hr_expectations OWNER TO sail;

--
-- Name: hr_expectations_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.hr_expectations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.hr_expectations_id_seq OWNER TO sail;

--
-- Name: hr_expectations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.hr_expectations_id_seq OWNED BY public.hr_expectations.id;


--
-- Name: idp_activities; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.idp_activities (
    id bigint NOT NULL,
    idp_item_id bigint NOT NULL,
    learning_catalog_id bigint,
    method_type_id bigint,
    activity_name character varying(255),
    weight_percent numeric(5,2),
    start_date date,
    end_date date,
    description text,
    status character varying(255) DEFAULT 'planned'::character varying NOT NULL,
    result character varying(255) DEFAULT 'pending'::character varying NOT NULL,
    rejected_by bigint,
    rejected_at timestamp(0) without time zone,
    reject_comment text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.idp_activities OWNER TO sail;

--
-- Name: idp_activities_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.idp_activities_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.idp_activities_id_seq OWNER TO sail;

--
-- Name: idp_activities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.idp_activities_id_seq OWNED BY public.idp_activities.id;


--
-- Name: idp_activity_updates; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.idp_activity_updates (
    id bigint NOT NULL,
    activity_id bigint NOT NULL,
    progress_note text,
    percent_complete smallint,
    evidence_path character varying(255),
    evidence_url character varying(255),
    evidence_description character varying(255),
    updated_by bigint,
    status character varying(255) DEFAULT 'saved'::character varying NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.idp_activity_updates OWNER TO sail;

--
-- Name: idp_activity_updates_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.idp_activity_updates_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.idp_activity_updates_id_seq OWNER TO sail;

--
-- Name: idp_activity_updates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.idp_activity_updates_id_seq OWNED BY public.idp_activity_updates.id;


--
-- Name: idp_items; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.idp_items (
    id bigint NOT NULL,
    idp_id bigint NOT NULL,
    competency_gap_id bigint,
    goal text,
    target_level smallint,
    status character varying(255) DEFAULT 'draft'::character varying NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.idp_items OWNER TO sail;

--
-- Name: idp_items_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.idp_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.idp_items_id_seq OWNER TO sail;

--
-- Name: idp_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.idp_items_id_seq OWNED BY public.idp_items.id;


--
-- Name: idps; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.idps (
    id bigint NOT NULL,
    assessment_id bigint,
    user_id bigint NOT NULL,
    year smallint NOT NULL,
    status character varying(255) DEFAULT 'nothing'::character varying NOT NULL,
    submitted_at timestamp(0) without time zone,
    rejected_by bigint,
    rejected_at timestamp(0) without time zone,
    reject_comment text,
    approved_by_1 bigint,
    approved_by_2 bigint,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.idps OWNER TO sail;

--
-- Name: idps_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.idps_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.idps_id_seq OWNER TO sail;

--
-- Name: idps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.idps_id_seq OWNED BY public.idps.id;


--
-- Name: job_batches; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.job_batches (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    total_jobs integer NOT NULL,
    pending_jobs integer NOT NULL,
    failed_jobs integer NOT NULL,
    failed_job_ids text NOT NULL,
    options text,
    cancelled_at integer,
    created_at integer NOT NULL,
    finished_at integer
);


ALTER TABLE public.job_batches OWNER TO sail;

--
-- Name: job_families; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.job_families (
    id bigint NOT NULL,
    workline_id bigint,
    name character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.job_families OWNER TO sail;

--
-- Name: job_families_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.job_families_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.job_families_id_seq OWNER TO sail;

--
-- Name: job_families_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.job_families_id_seq OWNED BY public.job_families.id;


--
-- Name: jobs; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.jobs (
    id bigint NOT NULL,
    queue character varying(255) NOT NULL,
    payload text NOT NULL,
    attempts smallint NOT NULL,
    reserved_at integer,
    available_at integer NOT NULL,
    created_at integer NOT NULL
);


ALTER TABLE public.jobs OWNER TO sail;

--
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.jobs_id_seq OWNER TO sail;

--
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- Name: learning_catalogs; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.learning_catalogs (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    method_type_id bigint,
    provider character varying(255),
    cost numeric(10,2),
    description text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.learning_catalogs OWNER TO sail;

--
-- Name: learning_catalogs_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.learning_catalogs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.learning_catalogs_id_seq OWNER TO sail;

--
-- Name: learning_catalogs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.learning_catalogs_id_seq OWNED BY public.learning_catalogs.id;


--
-- Name: learning_method_types; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.learning_method_types (
    id bigint NOT NULL,
    key character varying(255) NOT NULL,
    label character varying(255) NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    sort_order smallint,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.learning_method_types OWNER TO sail;

--
-- Name: learning_method_types_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.learning_method_types_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.learning_method_types_id_seq OWNER TO sail;

--
-- Name: learning_method_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.learning_method_types_id_seq OWNED BY public.learning_method_types.id;


--
-- Name: levels; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.levels (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    workline_id bigint
);


ALTER TABLE public.levels OWNER TO sail;

--
-- Name: levels_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.levels_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.levels_id_seq OWNER TO sail;

--
-- Name: levels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.levels_id_seq OWNED BY public.levels.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO sail;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.migrations_id_seq OWNER TO sail;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.password_reset_tokens (
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp(0) without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO sail;

--
-- Name: positions; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.positions (
    id bigint NOT NULL,
    job_family_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.positions OWNER TO sail;

--
-- Name: positions_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.positions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.positions_id_seq OWNER TO sail;

--
-- Name: positions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.positions_id_seq OWNED BY public.positions.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    role_id integer NOT NULL,
    role_key character varying(255) NOT NULL,
    name_th character varying(255) NOT NULL,
    name_en character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.roles OWNER TO sail;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO sail;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: scores; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.scores (
    id bigint NOT NULL,
    assessment_id bigint NOT NULL,
    competency_id bigint NOT NULL,
    assessor_id bigint NOT NULL,
    assessor_role character varying(255) NOT NULL,
    score smallint,
    comment text,
    status character varying(255) DEFAULT 'draft'::character varying NOT NULL,
    auto_saved_at timestamp(0) without time zone,
    submitted_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.scores OWNER TO sail;

--
-- Name: scores_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.scores_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.scores_id_seq OWNER TO sail;

--
-- Name: scores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.scores_id_seq OWNED BY public.scores.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.sessions (
    id character varying(255) NOT NULL,
    user_id bigint,
    ip_address character varying(45),
    user_agent text,
    payload text NOT NULL,
    last_activity integer NOT NULL
);


ALTER TABLE public.sessions OWNER TO sail;

--
-- Name: users; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    email_verified_at timestamp(0) without time zone,
    password character varying(255) NOT NULL,
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    role_id integer DEFAULT 4 NOT NULL,
    sso character varying(255),
    title character varying(255),
    first_name_th character varying(255),
    last_name_th character varying(255),
    first_name_en character varying(255),
    last_name_en character varying(255),
    gender character varying(255),
    phone character varying(12),
    workline character varying(255),
    department character varying(255),
    "position" character varying(255),
    level character varying(255),
    role_key character varying(255) DEFAULT 'employee'::character varying NOT NULL,
    supervisor character varying(255),
    evaluator2 character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    profile_photo text,
    position_id bigint,
    level_id bigint,
    supervisor_id_1 bigint,
    supervisor_id_2 bigint,
    profile_affiliation character varying(255),
    profile_saved boolean DEFAULT false NOT NULL
);


ALTER TABLE public.users OWNER TO sail;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO sail;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: worklines; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.worklines (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.worklines OWNER TO sail;

--
-- Name: worklines_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.worklines_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.worklines_id_seq OWNER TO sail;

--
-- Name: worklines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.worklines_id_seq OWNED BY public.worklines.id;


--
-- Name: assessment_evidences id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.assessment_evidences ALTER COLUMN id SET DEFAULT nextval('public.assessment_evidences_id_seq'::regclass);


--
-- Name: assessment_rounds id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.assessment_rounds ALTER COLUMN id SET DEFAULT nextval('public.assessment_rounds_id_seq'::regclass);


--
-- Name: assessments id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.assessments ALTER COLUMN id SET DEFAULT nextval('public.assessments_id_seq'::regclass);


--
-- Name: comp_level_indicators id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.comp_level_indicators ALTER COLUMN id SET DEFAULT nextval('public.comp_level_indicators_id_seq'::regclass);


--
-- Name: competencies id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competencies ALTER COLUMN id SET DEFAULT nextval('public.competencies_id_seq'::regclass);


--
-- Name: competency_gaps id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competency_gaps ALTER COLUMN id SET DEFAULT nextval('public.competency_gaps_id_seq'::regclass);


--
-- Name: competency_levels id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competency_levels ALTER COLUMN id SET DEFAULT nextval('public.competency_levels_id_seq'::regclass);


--
-- Name: competency_types id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competency_types ALTER COLUMN id SET DEFAULT nextval('public.competency_types_id_seq'::regclass);


--
-- Name: failed_jobs id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.failed_jobs ALTER COLUMN id SET DEFAULT nextval('public.failed_jobs_id_seq'::regclass);


--
-- Name: hr_expectations id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.hr_expectations ALTER COLUMN id SET DEFAULT nextval('public.hr_expectations_id_seq'::regclass);


--
-- Name: idp_activities id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idp_activities ALTER COLUMN id SET DEFAULT nextval('public.idp_activities_id_seq'::regclass);


--
-- Name: idp_activity_updates id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idp_activity_updates ALTER COLUMN id SET DEFAULT nextval('public.idp_activity_updates_id_seq'::regclass);


--
-- Name: idp_items id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idp_items ALTER COLUMN id SET DEFAULT nextval('public.idp_items_id_seq'::regclass);


--
-- Name: idps id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idps ALTER COLUMN id SET DEFAULT nextval('public.idps_id_seq'::regclass);


--
-- Name: job_families id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.job_families ALTER COLUMN id SET DEFAULT nextval('public.job_families_id_seq'::regclass);


--
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- Name: learning_catalogs id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.learning_catalogs ALTER COLUMN id SET DEFAULT nextval('public.learning_catalogs_id_seq'::regclass);


--
-- Name: learning_method_types id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.learning_method_types ALTER COLUMN id SET DEFAULT nextval('public.learning_method_types_id_seq'::regclass);


--
-- Name: levels id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.levels ALTER COLUMN id SET DEFAULT nextval('public.levels_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: positions id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.positions ALTER COLUMN id SET DEFAULT nextval('public.positions_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: scores id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.scores ALTER COLUMN id SET DEFAULT nextval('public.scores_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: worklines id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.worklines ALTER COLUMN id SET DEFAULT nextval('public.worklines_id_seq'::regclass);


--
-- Data for Name: assessment_evidences; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.assessment_evidences (id, assessment_id, competency_id, file_path, url, description, uploaded_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: assessment_rounds; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.assessment_rounds (id, name, year, self_assess_start, self_assess_end, supervisor_assess_end, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: assessments; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.assessments (id, assessment_round_id, user_id, status, last_draft_saved_at, self_submitted_at, supervisor_1_submitted_at, supervisor_2_submitted_at, dean_approved_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: cache; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.cache (key, value, expiration) FROM stdin;
\.


--
-- Data for Name: cache_locks; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.cache_locks (key, owner, expiration) FROM stdin;
\.


--
-- Data for Name: comp_level_indicators; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.comp_level_indicators (id, competency_level_id, description, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: competencies; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.competencies (id, competency_type_id, code, name, detail, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: competency_gaps; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.competency_gaps (id, assessment_id, competency_id, supervisor_2_score_id, expected_level, actual_level, gap, requires_idp, status, rejected_by, reject_comment, decided_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: competency_levels; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.competency_levels (id, competency_id, level, description, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: competency_types; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: failed_jobs; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.failed_jobs (id, uuid, connection, queue, payload, exception, failed_at) FROM stdin;
\.


--
-- Data for Name: hr_expectations; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.hr_expectations (id, assessment_round_id, position_id, level_id, competency_id, expected_level, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: idp_activities; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.idp_activities (id, idp_item_id, learning_catalog_id, method_type_id, activity_name, weight_percent, start_date, end_date, description, status, result, rejected_by, rejected_at, reject_comment, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: idp_activity_updates; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.idp_activity_updates (id, activity_id, progress_note, percent_complete, evidence_path, evidence_url, evidence_description, updated_by, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: idp_items; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.idp_items (id, idp_id, competency_gap_id, goal, target_level, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: idps; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.idps (id, assessment_id, user_id, year, status, submitted_at, rejected_by, rejected_at, reject_comment, approved_by_1, approved_by_2, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: job_batches; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.job_batches (id, name, total_jobs, pending_jobs, failed_jobs, failed_job_ids, options, cancelled_at, created_at, finished_at) FROM stdin;
\.


--
-- Data for Name: job_families; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.job_families (id, workline_id, name, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.jobs (id, queue, payload, attempts, reserved_at, available_at, created_at) FROM stdin;
\.


--
-- Data for Name: learning_catalogs; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.learning_catalogs (id, name, method_type_id, provider, cost, description, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: learning_method_types; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.learning_method_types (id, key, label, description, is_active, sort_order, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: levels; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.levels (id, name, created_at, updated_at, workline_id) FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.password_reset_tokens (email, token, created_at) FROM stdin;
\.


--
-- Data for Name: positions; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.positions (id, job_family_id, name, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.roles (id, role_id, role_key, name_th, name_en, created_at, updated_at) FROM stdin;
1	0	admin	เธเธนเนเธ”เธนเนเธฅเธฃเธฐเธเธ	Admin	\N	\N
2	1	supervisor	เธเธนเนเธเธฑเธเธเธฑเธเธเธฑเธเธเธฒ	Supervisor	\N	\N
3	2	dept_head	เธเธนเนเธเธฃเธดเธซเธฒเธฃเธซเธเนเธงเธขเธเธฒเธ	Department Head	\N	\N
4	3	employee	เธเธธเธเธฅเธฒเธเธฃ	Staff	\N	\N
5	4	hr	HR	HR	\N	\N
6	5	dean	เธเธนเนเธเธฃเธดเธซเธฒเธฃเธเธ“เธฐ	Dean	\N	\N
\.


--
-- Data for Name: scores; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.scores (id, assessment_id, competency_id, assessor_id, assessor_role, score, comment, status, auto_saved_at, submitted_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.sessions (id, user_id, ip_address, user_agent, payload, last_activity) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: worklines; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.worklines (id, name, created_at, updated_at) FROM stdin;
\.


--
-- Name: assessment_evidences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.assessment_evidences_id_seq', 1, false);


--
-- Name: assessment_rounds_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.assessment_rounds_id_seq', 1, false);


--
-- Name: assessments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.assessments_id_seq', 1, false);


--
-- Name: comp_level_indicators_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.comp_level_indicators_id_seq', 1, false);


--
-- Name: competencies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.competencies_id_seq', 1, false);


--
-- Name: competency_gaps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.competency_gaps_id_seq', 1, false);


--
-- Name: competency_levels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.competency_levels_id_seq', 1, false);


--
-- Name: competency_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.competency_types_id_seq', 5, true);


--
-- Name: failed_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.failed_jobs_id_seq', 1, false);


--
-- Name: hr_expectations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.hr_expectations_id_seq', 1, false);


--
-- Name: idp_activities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.idp_activities_id_seq', 1, false);


--
-- Name: idp_activity_updates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.idp_activity_updates_id_seq', 1, false);


--
-- Name: idp_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.idp_items_id_seq', 1, false);


--
-- Name: idps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.idps_id_seq', 1, false);


--
-- Name: job_families_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.job_families_id_seq', 1, false);


--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.jobs_id_seq', 1, false);


--
-- Name: learning_catalogs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.learning_catalogs_id_seq', 1, false);


--
-- Name: learning_method_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.learning_method_types_id_seq', 1, false);


--
-- Name: levels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.levels_id_seq', 1, false);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.migrations_id_seq', 16, true);


--
-- Name: positions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.positions_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.roles_id_seq', 6, true);


--
-- Name: scores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.scores_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.users_id_seq', 10, true);


--
-- Name: worklines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.worklines_id_seq', 1, false);


--
-- Name: assessment_evidences assessment_evidences_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.assessment_evidences
    ADD CONSTRAINT assessment_evidences_pkey PRIMARY KEY (id);


--
-- Name: assessment_rounds assessment_rounds_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.assessment_rounds
    ADD CONSTRAINT assessment_rounds_pkey PRIMARY KEY (id);


--
-- Name: assessments assessments_assessment_round_id_user_id_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_assessment_round_id_user_id_unique UNIQUE (assessment_round_id, user_id);


--
-- Name: assessments assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_pkey PRIMARY KEY (id);


--
-- Name: cache_locks cache_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.cache_locks
    ADD CONSTRAINT cache_locks_pkey PRIMARY KEY (key);


--
-- Name: cache cache_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.cache
    ADD CONSTRAINT cache_pkey PRIMARY KEY (key);


--
-- Name: comp_level_indicators comp_level_indicators_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.comp_level_indicators
    ADD CONSTRAINT comp_level_indicators_pkey PRIMARY KEY (id);


--
-- Name: competencies competencies_code_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competencies
    ADD CONSTRAINT competencies_code_unique UNIQUE (code);


--
-- Name: competencies competencies_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competencies
    ADD CONSTRAINT competencies_pkey PRIMARY KEY (id);


--
-- Name: competency_gaps competency_gaps_assessment_id_competency_id_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competency_gaps
    ADD CONSTRAINT competency_gaps_assessment_id_competency_id_unique UNIQUE (assessment_id, competency_id);


--
-- Name: competency_gaps competency_gaps_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competency_gaps
    ADD CONSTRAINT competency_gaps_pkey PRIMARY KEY (id);


--
-- Name: competency_levels competency_levels_competency_id_level_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competency_levels
    ADD CONSTRAINT competency_levels_competency_id_level_unique UNIQUE (competency_id, level);


--
-- Name: competency_levels competency_levels_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competency_levels
    ADD CONSTRAINT competency_levels_pkey PRIMARY KEY (id);


--
-- Name: competency_types competency_types_code_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competency_types
    ADD CONSTRAINT competency_types_code_unique UNIQUE (code);


--
-- Name: competency_types competency_types_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competency_types
    ADD CONSTRAINT competency_types_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_uuid_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_uuid_unique UNIQUE (uuid);


--
-- Name: hr_expectations hr_expectations_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.hr_expectations
    ADD CONSTRAINT hr_expectations_pkey PRIMARY KEY (id);


--
-- Name: hr_expectations hr_expectations_unique_scope; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.hr_expectations
    ADD CONSTRAINT hr_expectations_unique_scope UNIQUE (assessment_round_id, position_id, level_id, competency_id);


--
-- Name: idp_activities idp_activities_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idp_activities
    ADD CONSTRAINT idp_activities_pkey PRIMARY KEY (id);


--
-- Name: idp_activity_updates idp_activity_updates_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idp_activity_updates
    ADD CONSTRAINT idp_activity_updates_pkey PRIMARY KEY (id);


--
-- Name: idp_items idp_items_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idp_items
    ADD CONSTRAINT idp_items_pkey PRIMARY KEY (id);


--
-- Name: idps idps_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idps
    ADD CONSTRAINT idps_pkey PRIMARY KEY (id);


--
-- Name: job_batches job_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.job_batches
    ADD CONSTRAINT job_batches_pkey PRIMARY KEY (id);


--
-- Name: job_families job_families_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.job_families
    ADD CONSTRAINT job_families_pkey PRIMARY KEY (id);


--
-- Name: job_families job_families_workline_id_name_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.job_families
    ADD CONSTRAINT job_families_workline_id_name_unique UNIQUE (workline_id, name);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: learning_catalogs learning_catalogs_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.learning_catalogs
    ADD CONSTRAINT learning_catalogs_pkey PRIMARY KEY (id);


--
-- Name: learning_method_types learning_method_types_key_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.learning_method_types
    ADD CONSTRAINT learning_method_types_key_unique UNIQUE (key);


--
-- Name: learning_method_types learning_method_types_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.learning_method_types
    ADD CONSTRAINT learning_method_types_pkey PRIMARY KEY (id);


--
-- Name: levels levels_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.levels
    ADD CONSTRAINT levels_pkey PRIMARY KEY (id);


--
-- Name: levels levels_workline_id_name_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.levels
    ADD CONSTRAINT levels_workline_id_name_unique UNIQUE (workline_id, name);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (email);


--
-- Name: positions positions_job_family_id_name_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.positions
    ADD CONSTRAINT positions_job_family_id_name_unique UNIQUE (job_family_id, name);


--
-- Name: positions positions_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.positions
    ADD CONSTRAINT positions_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: roles roles_role_id_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_role_id_unique UNIQUE (role_id);


--
-- Name: roles roles_role_key_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_role_key_unique UNIQUE (role_key);


--
-- Name: scores scores_assessment_id_competency_id_assessor_id_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.scores
    ADD CONSTRAINT scores_assessment_id_competency_id_assessor_id_unique UNIQUE (assessment_id, competency_id, assessor_id);


--
-- Name: scores scores_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.scores
    ADD CONSTRAINT scores_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_sso_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_sso_unique UNIQUE (sso);


--
-- Name: worklines worklines_name_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.worklines
    ADD CONSTRAINT worklines_name_unique UNIQUE (name);


--
-- Name: worklines worklines_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.worklines
    ADD CONSTRAINT worklines_pkey PRIMARY KEY (id);


--
-- Name: cache_expiration_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX cache_expiration_index ON public.cache USING btree (expiration);


--
-- Name: cache_locks_expiration_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX cache_locks_expiration_index ON public.cache_locks USING btree (expiration);


--
-- Name: jobs_queue_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX jobs_queue_index ON public.jobs USING btree (queue);


--
-- Name: sessions_last_activity_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX sessions_last_activity_index ON public.sessions USING btree (last_activity);


--
-- Name: sessions_user_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX sessions_user_id_index ON public.sessions USING btree (user_id);


--
-- Name: assessment_evidences assessment_evidences_assessment_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.assessment_evidences
    ADD CONSTRAINT assessment_evidences_assessment_id_foreign FOREIGN KEY (assessment_id) REFERENCES public.assessments(id) ON DELETE CASCADE;


--
-- Name: assessment_evidences assessment_evidences_competency_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.assessment_evidences
    ADD CONSTRAINT assessment_evidences_competency_id_foreign FOREIGN KEY (competency_id) REFERENCES public.competencies(id) ON DELETE CASCADE;


--
-- Name: assessment_evidences assessment_evidences_uploaded_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.assessment_evidences
    ADD CONSTRAINT assessment_evidences_uploaded_by_foreign FOREIGN KEY (uploaded_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: assessments assessments_assessment_round_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_assessment_round_id_foreign FOREIGN KEY (assessment_round_id) REFERENCES public.assessment_rounds(id) ON DELETE CASCADE;


--
-- Name: assessments assessments_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: comp_level_indicators comp_level_indicators_competency_level_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.comp_level_indicators
    ADD CONSTRAINT comp_level_indicators_competency_level_id_foreign FOREIGN KEY (competency_level_id) REFERENCES public.competency_levels(id) ON DELETE CASCADE;


--
-- Name: competencies competencies_competency_type_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competencies
    ADD CONSTRAINT competencies_competency_type_id_foreign FOREIGN KEY (competency_type_id) REFERENCES public.competency_types(id) ON DELETE RESTRICT;


--
-- Name: competency_gaps competency_gaps_assessment_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competency_gaps
    ADD CONSTRAINT competency_gaps_assessment_id_foreign FOREIGN KEY (assessment_id) REFERENCES public.assessments(id) ON DELETE CASCADE;


--
-- Name: competency_gaps competency_gaps_competency_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competency_gaps
    ADD CONSTRAINT competency_gaps_competency_id_foreign FOREIGN KEY (competency_id) REFERENCES public.competencies(id) ON DELETE CASCADE;


--
-- Name: competency_gaps competency_gaps_rejected_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competency_gaps
    ADD CONSTRAINT competency_gaps_rejected_by_foreign FOREIGN KEY (rejected_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: competency_gaps competency_gaps_supervisor_2_score_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competency_gaps
    ADD CONSTRAINT competency_gaps_supervisor_2_score_id_foreign FOREIGN KEY (supervisor_2_score_id) REFERENCES public.scores(id) ON DELETE SET NULL;


--
-- Name: competency_levels competency_levels_competency_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.competency_levels
    ADD CONSTRAINT competency_levels_competency_id_foreign FOREIGN KEY (competency_id) REFERENCES public.competencies(id) ON DELETE CASCADE;


--
-- Name: hr_expectations hr_expectations_assessment_round_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.hr_expectations
    ADD CONSTRAINT hr_expectations_assessment_round_id_foreign FOREIGN KEY (assessment_round_id) REFERENCES public.assessment_rounds(id) ON DELETE CASCADE;


--
-- Name: hr_expectations hr_expectations_competency_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.hr_expectations
    ADD CONSTRAINT hr_expectations_competency_id_foreign FOREIGN KEY (competency_id) REFERENCES public.competencies(id) ON DELETE CASCADE;


--
-- Name: hr_expectations hr_expectations_level_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.hr_expectations
    ADD CONSTRAINT hr_expectations_level_id_foreign FOREIGN KEY (level_id) REFERENCES public.levels(id) ON DELETE CASCADE;


--
-- Name: hr_expectations hr_expectations_position_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.hr_expectations
    ADD CONSTRAINT hr_expectations_position_id_foreign FOREIGN KEY (position_id) REFERENCES public.positions(id) ON DELETE CASCADE;


--
-- Name: idp_activities idp_activities_idp_item_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idp_activities
    ADD CONSTRAINT idp_activities_idp_item_id_foreign FOREIGN KEY (idp_item_id) REFERENCES public.idp_items(id) ON DELETE CASCADE;


--
-- Name: idp_activities idp_activities_learning_catalog_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idp_activities
    ADD CONSTRAINT idp_activities_learning_catalog_id_foreign FOREIGN KEY (learning_catalog_id) REFERENCES public.learning_catalogs(id) ON DELETE SET NULL;


--
-- Name: idp_activities idp_activities_method_type_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idp_activities
    ADD CONSTRAINT idp_activities_method_type_id_foreign FOREIGN KEY (method_type_id) REFERENCES public.learning_method_types(id) ON DELETE SET NULL;


--
-- Name: idp_activities idp_activities_rejected_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idp_activities
    ADD CONSTRAINT idp_activities_rejected_by_foreign FOREIGN KEY (rejected_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: idp_activity_updates idp_activity_updates_activity_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idp_activity_updates
    ADD CONSTRAINT idp_activity_updates_activity_id_foreign FOREIGN KEY (activity_id) REFERENCES public.idp_activities(id) ON DELETE CASCADE;


--
-- Name: idp_activity_updates idp_activity_updates_updated_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idp_activity_updates
    ADD CONSTRAINT idp_activity_updates_updated_by_foreign FOREIGN KEY (updated_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: idp_items idp_items_competency_gap_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idp_items
    ADD CONSTRAINT idp_items_competency_gap_id_foreign FOREIGN KEY (competency_gap_id) REFERENCES public.competency_gaps(id) ON DELETE SET NULL;


--
-- Name: idp_items idp_items_idp_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idp_items
    ADD CONSTRAINT idp_items_idp_id_foreign FOREIGN KEY (idp_id) REFERENCES public.idps(id) ON DELETE CASCADE;


--
-- Name: idps idps_approved_by_1_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idps
    ADD CONSTRAINT idps_approved_by_1_foreign FOREIGN KEY (approved_by_1) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: idps idps_approved_by_2_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idps
    ADD CONSTRAINT idps_approved_by_2_foreign FOREIGN KEY (approved_by_2) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: idps idps_assessment_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idps
    ADD CONSTRAINT idps_assessment_id_foreign FOREIGN KEY (assessment_id) REFERENCES public.assessments(id) ON DELETE SET NULL;


--
-- Name: idps idps_rejected_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idps
    ADD CONSTRAINT idps_rejected_by_foreign FOREIGN KEY (rejected_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: idps idps_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.idps
    ADD CONSTRAINT idps_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: job_families job_families_workline_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.job_families
    ADD CONSTRAINT job_families_workline_id_foreign FOREIGN KEY (workline_id) REFERENCES public.worklines(id) ON DELETE SET NULL;


--
-- Name: learning_catalogs learning_catalogs_method_type_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.learning_catalogs
    ADD CONSTRAINT learning_catalogs_method_type_id_foreign FOREIGN KEY (method_type_id) REFERENCES public.learning_method_types(id) ON DELETE SET NULL;


--
-- Name: levels levels_workline_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.levels
    ADD CONSTRAINT levels_workline_id_foreign FOREIGN KEY (workline_id) REFERENCES public.worklines(id) ON DELETE SET NULL;


--
-- Name: positions positions_job_family_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.positions
    ADD CONSTRAINT positions_job_family_id_foreign FOREIGN KEY (job_family_id) REFERENCES public.job_families(id) ON DELETE CASCADE;


--
-- Name: scores scores_assessment_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.scores
    ADD CONSTRAINT scores_assessment_id_foreign FOREIGN KEY (assessment_id) REFERENCES public.assessments(id) ON DELETE CASCADE;


--
-- Name: scores scores_assessor_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.scores
    ADD CONSTRAINT scores_assessor_id_foreign FOREIGN KEY (assessor_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: scores scores_competency_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.scores
    ADD CONSTRAINT scores_competency_id_foreign FOREIGN KEY (competency_id) REFERENCES public.competencies(id) ON DELETE CASCADE;


--
-- Name: users users_level_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_level_id_foreign FOREIGN KEY (level_id) REFERENCES public.levels(id) ON DELETE SET NULL;


--
-- Name: users users_position_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_position_id_foreign FOREIGN KEY (position_id) REFERENCES public.positions(id) ON DELETE SET NULL;


--
-- Name: users users_supervisor_id_1_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_supervisor_id_1_foreign FOREIGN KEY (supervisor_id_1) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: users users_supervisor_id_2_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_supervisor_id_2_foreign FOREIGN KEY (supervisor_id_2) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO sail;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES  TO sail;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES  TO sail;


--
-- PostgreSQL database dump complete
--

\unrestrict fz7hqVoH56v7Wp7WRssyY23N7sb1y0tXq6AD2cQtUXl5B6ucPe1NuriIteNMmde

